Arive


JOIN {{ TEAM_NAME }} ON ARIVE

{{ inviter_name }} would like to add you as a user to the {{ team_name }} on Arive.

Join the team→ {{ invitation_url }}

Or copy this link:

{{ invitation_url }}

This invitation expires in {{ expiration_hours }} hours.
After that, you'll need to request a new one.

Not expecting this?
You can safely ignore this email. No action will be taken unless you accept the invitation.

----------------------------------------

Sent securely with Arive https://tryarive.com

© 2025 Arive. All rights reserved.