name: Test Backend

on:
  push:
    branches: [develop]
    paths:
      - "backend/**"
      - ".github/workflows/test.yml"
      - ".github/workflows/_test.yml"
  pull_request:
    branches: [main]
    paths:
      - "backend/**"
      - ".github/workflows/test.yml"
      - ".github/workflows/_test.yml"

jobs:
  test:
    uses: ./.github/workflows/_test.yml
    secrets: inherit
